@font-face {
  font-family: "Icons16";
  font-style: normal;
  font-weight: normal;
  src: url("/icons-16.eot?#iefix") format("embedded-opentype"),url("/icons-16.woff") format("woff"),url("/icons-16.ttf") format("truetype");
}

.DateField {
  .pt-popover-target {
    display: block;
  }

  span.pt-icon-standard {
    line-height: 1;
    font-family: "Icons16", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  span.pt-icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  .pt-icon-caret-down::before {
    content: "⌄";
  }

  .pt-datepicker .DayPicker-Weekday abbr[title] {
    border-bottom: none;
  }

  .pt-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .pt-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }

  .pt-input::-moz-placeholder {
    color: #999;
    opacity: 1;
  }

  .pt-input:-ms-input-placeholder {
    color: #999;
  }

  .pt-input::-webkit-input-placeholder {
    color: #999;
  }

  .pt-input::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  .pt-transition-container {
    opacity: 1;
    z-index: 20;
  }

  .pt-transition-container.pt-popover-enter, .pt-transition-container.pt-popover-appear {
    opacity: 0;
  }

  .pt-transition-container.pt-popover-enter-active, .pt-transition-container.pt-popover-appear-active {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4,1,0.75,0.9);
    transition-delay: 0;
  }

  .pt-transition-container.pt-popover-leave {
    opacity: 1;
  }

  .pt-transition-container.pt-popover-leave-active {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4,1,0.75,0.9);
    transition-delay: 0;
  }

  .pt-transition-container:focus {
    outline: none;
  }

  .pt-transition-container.pt-popover-leave .pt-popover-content {
    pointer-events: none;
  }

  .pt-popover-target {
    display: block;
    position: relative;
    vertical-align: top;
  }

  .pt-popover-target > .pt-popover-target {
    display: inline-block;
  }

  .pt-popover-target .pt-transition-container {
    position: absolute;
  }

  .pt-popover-target .pt-transition-container.pt-tether-element-attached-bottom.pt-tether-target-attached-top {
    bottom: 100%;
  }

  .pt-popover-target .pt-transition-container.pt-tether-element-attached-left.pt-tether-target-attached-right {
    left: 100%;
  }

  .pt-popover-target .pt-transition-container.pt-tether-element-attached-top.pt-tether-target-attached-bottom {
    top: 100%;
  }

  .pt-popover-target .pt-transition-container.pt-tether-element-attached-right.pt-tether-target-attached-left {
    right: 100%;
  }

  .pt-popover-target .pt-transition-container.pt-tether-element-attached-top.pt-tether-target-attached-top {
    top: 0;
  }

  .pt-popover-target .pt-transition-container.pt-tether-element-attached-right.pt-tether-target-attached-right {
    right: 0;
  }

  .pt-popover-target .pt-transition-container.pt-tether-element-attached-bottom.pt-tether-target-attached-bottom {
    bottom: 0;
  }

  .pt-popover-target .pt-transition-container.pt-tether-element-attached-left.pt-tether-target-attached-left {
    left: 0;
  }

  .pt-popover-target .pt-transition-container.pt-tether-element-attached-middle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .pt-popover-target .pt-transition-container.pt-tether-element-attached-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .pt-popover {
    box-shadow: 0 0 0 1px rgba(16,22,26,0.1), 0 2px 4px rgba(16,22,26,0.2), 0 8px 24px rgba(16,22,26,0.2);
    -webkit-transform: scale(1);
    transform: scale(1);
    display: inline-block;
    z-index: 20;
    border-radius: 3px;
  }

  .pt-popover .pt-popover-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
  }

  .pt-popover .pt-popover-arrow:before {
    margin: 5px;
    width: 20px;
    height: 20px;
  }

  .pt-tether-element-attached-bottom.pt-tether-target-attached-top > .pt-popover {
    margin-top: -17px;
    margin-bottom: 17px;
  }

  .pt-tether-element-attached-bottom.pt-tether-target-attached-top > .pt-popover > .pt-popover-arrow {
    bottom: -11px;
  }

  .pt-tether-element-attached-bottom.pt-tether-target-attached-top > .pt-popover > .pt-popover-arrow svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .pt-tether-element-attached-left.pt-tether-target-attached-right > .pt-popover {
    margin-left: 17px;
  }

  .pt-tether-element-attached-left.pt-tether-target-attached-right > .pt-popover > .pt-popover-arrow {
    left: -11px;
  }

  .pt-tether-element-attached-left.pt-tether-target-attached-right > .pt-popover > .pt-popover-arrow svg {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  .pt-tether-element-attached-top.pt-tether-target-attached-bottom > .pt-popover {
    margin-top: 17px;
  }

  .pt-tether-element-attached-top.pt-tether-target-attached-bottom > .pt-popover > .pt-popover-arrow {
    top: -11px;
  }

  .pt-tether-element-attached-top.pt-tether-target-attached-bottom > .pt-popover > .pt-popover-arrow svg {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .pt-tether-element-attached-right.pt-tether-target-attached-left > .pt-popover {
    margin-right: 17px;
    margin-left: -17px;
  }

  .pt-tether-element-attached-right.pt-tether-target-attached-left > .pt-popover > .pt-popover-arrow {
    right: -11px;
  }

  .pt-tether-element-attached-right.pt-tether-target-attached-left > .pt-popover > .pt-popover-arrow svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .pt-tether-element-attached-middle > .pt-popover > .pt-popover-arrow {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .pt-tether-element-attached-center > .pt-popover > .pt-popover-arrow {
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }

  .pt-tether-element-attached-top.pt-tether-target-attached-top > .pt-popover > .pt-popover-arrow {
    top: -0.3934px;
  }

  .pt-tether-element-attached-right.pt-tether-target-attached-right > .pt-popover > .pt-popover-arrow {
    right: -0.3934px;
  }

  .pt-tether-element-attached-left.pt-tether-target-attached-left > .pt-popover > .pt-popover-arrow {
    left: -0.3934px;
  }

  .pt-tether-element-attached-bottom.pt-tether-target-attached-bottom > .pt-popover > .pt-popover-arrow {
    bottom: -0.3934px;
  }

  .pt-tether-element-attached-top.pt-tether-element-attached-left > .pt-popover {
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }

  .pt-tether-element-attached-top.pt-tether-element-attached-center > .pt-popover {
    -webkit-transform-origin: top center;
    transform-origin: top center;
  }

  .pt-tether-element-attached-top.pt-tether-element-attached-right > .pt-popover {
    -webkit-transform-origin: top right;
    transform-origin: top right;
  }

  .pt-tether-element-attached-middle.pt-tether-element-attached-left > .pt-popover {
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }

  .pt-tether-element-attached-middle.pt-tether-element-attached-center > .pt-popover {
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  .pt-tether-element-attached-middle.pt-tether-element-attached-right > .pt-popover {
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }

  .pt-tether-element-attached-bottom.pt-tether-element-attached-left > .pt-popover {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }

  .pt-tether-element-attached-bottom.pt-tether-element-attached-center > .pt-popover {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
  }

  .pt-tether-element-attached-bottom.pt-tether-element-attached-right > .pt-popover {
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
  }

  .pt-popover .pt-popover-content {
    background: #ffffff;
    color: inherit;
  }

  .pt-popover .pt-popover-arrow::before {
    box-shadow: 1px 1px 6px rgba(16,22,26,0.2);
  }

  .pt-popover .pt-popover-arrow-border {
    fill: #10161a;
    fill-opacity: 0.1;
  }

  .pt-popover .pt-popover-arrow-fill {
    fill: #ffffff;
  }

  .pt-popover-enter > .pt-popover, .pt-popover-appear > .pt-popover {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }

  .pt-popover-enter-active > .pt-popover, .pt-popover-appear-active > .pt-popover {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.54,1.12,0.38,1.11);
    transition-delay: 0;
  }

  .pt-popover-leave > .pt-popover {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .pt-popover-leave-active > .pt-popover {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.54,1.12,0.38,1.11);
    transition-delay: 0;
  }

  .pt-popover .pt-popover-content {
    position: relative;
    border-radius: 3px;
  }

  .pt-popover.pt-popover-content-sizing .pt-popover-content {
    max-width: 350px;
    padding: 20px;
  }

  .pt-popover-target .pt-popover.pt-popover-content-sizing {
    width: 350px;
  }

  .pt-popover.pt-minimal {
    margin: 0 !important;
  }

  .pt-popover.pt-minimal .pt-popover-arrow {
    display: none;
  }

  .pt-popover.pt-minimal.pt-popover {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .pt-popover-enter > .pt-popover.pt-minimal.pt-popover, .pt-popover-appear > .pt-popover.pt-minimal.pt-popover {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .pt-popover-enter-active > .pt-popover.pt-minimal.pt-popover, .pt-popover-appear-active > .pt-popover.pt-minimal.pt-popover {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4,1,0.75,0.9);
    transition-delay: 0;
  }

  .pt-popover-leave > .pt-popover.pt-minimal.pt-popover {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .pt-popover-leave-active > .pt-popover.pt-minimal.pt-popover {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4,1,0.75,0.9);
    transition-delay: 0;
  }
}
